html body {
    background-color: rgb(255, 228, 255);
}
.row{
    width: 200vh;
    right: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
body{
    background-color:rgba(209, 145, 145, 0.445)
}
.titulo-principal{
    text-align:center;
    background-color:lightcoral;
    padding: 20px;
}
.firsthead{
    color: black;
    text-shadow: 2px 2px 5px lightcoral;
}
.firstp{
    color: black;
    font-size: large;
}
.boxtype{
    width: 400;
    border: 20px solid rgb(92, 153, 92);
    padding: 100;
    margin: 50px;
}
.boxtype2{
    width: 400;
    border: 20px solid lightsalmon;
    padding: 100;
    margin: 50px;
}
.boxtype3{
    width: 400;
    border: 20px solid rgb(185, 81, 81);
    padding: 100;
    margin: 50px;
}
ul{
    font-family: cursive;
    border-style: double;
    border-width: 5px;
    border-radius: 12px;
    border-color: lightcoral;
}
iframe{
    outline-style: dotted;
    outline-color: black;
}